# Analytics
NEXT_PUBLIC_GA_ID=your_google_analytics_id_here
NEXT_PUBLIC_META_PIXEL_ID=your_meta_pixel_id_here

# CRM / lead capture
   RESEND_API_KEY =re_aigM2QiW_M3UfnmeWjPkEY9xeykMSY6Gj
    RECIPIENT_EMAIL =info@europetexpress.co.uk
# Optional integrations
NEXT_PUBLIC_WHATSAPP_NUMBER=447711123456

  NEXT_PUBLIC_SANITY_PROJECT_ID=nj21ztzy
  NEXT_PUBLIC_SANITY_DATASET=production
  NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
  SANITY_API_READ_TOKEN= sk2pw2x5XTrrFUY1LNVxrkwhueMOjx6elVRa0M36bhP83KfDhY7pnoMwf2QoodQIPSfKdVmteLvdcGqEJ6e0jCbOhhplfDSU0frwvGdfTGNUZ5xumOwyr1WBxBqoxLya69LymjxVeWWRUnbf0T84KeP5wdrln3G5DJdi7bYdVBejeBXYhuMN